@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

header nav {

    display: flex;
    justify-content: space-between;
    padding: 10px 100px
}

header nav .nav-title h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

header nav .nav-button button {
    padding: 17px 24px 17px 24px;
}


.banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
}

.banner-section h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    width: 70%;
    text-align: center;
}

.banner-section p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    text-align: center;
    line-height: 26px;
}

.banner-section button {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 15px;
}

main {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 150px 80px 150px;
}

main .dev-title h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

main .dev-title p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 60%;
    margin: auto;
    line-height: 26px;
}

main .step-1 {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    margin: 100px auto;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 50px;


}

main .step-1 .step1-title h1 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    width: 70%;
    line-height: 36px;
}

main .step-1 .step1-title p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    line-height: 26px;
}

main .step-1 .step1-title button {
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}


/* step-2 style start */

main .step-2 {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    gap: 50px;
    margin: 100px auto;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 50px;
}

main .step-2 .step2-title h1 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    width: 70%;
    line-height: 36px;
}

main .step-2 .step2-title p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    line-height: 26px;
}

main .step-2 .step2-title button {
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}


/* step-3 style start */

main .step-3 {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    margin: 100px auto;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 50px;
}

main .step-3 .step3-title h1 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    width: 70%;
    line-height: 36px;
}

main .step-3 .step3-title p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    line-height: 26px;
}

main .step-3 .step3-title button {
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

